.light-red {
  color: #ff725c;
}

.dark-green {
  color: #137752;
}

.w100 {
  width: 100%;
}

.text-big-20 {
  font-size: 1.2em;
}

.text-big-10 {
  font-size: 1.1em;
}

.text-small-95 {
  font-size: .95em;
}

.text-small-90 {
  font-size: .9em;
}

.text-small-85 {
  font-size: .85em;
}

.text-small-80 {
  font-size: .8em;
}

.text-small-75 {
  font-size: .75em;
}

.text-small-70 {
  font-size: .7em;
}

.text-small-65 {
  font-size: .65em;
}

.text-small-60 {
  font-size: .6em;
}

.o-100 {
  opacity: 1;
}

.o-90 {
  opacity: .9;
}

.o-80 {
  opacity: .8;
}

.o-70 {
  opacity: .7;
}

.o-60 {
  opacity: .6;
}

.o-50 {
  opacity: .5;
}

.o-40 {
  opacity: .4;
}

.o-30 {
  opacity: .3;
}

.o-20 {
  opacity: .2;
}

.o-10 {
  opacity: .1;
}

.o-05 {
  opacity: .05;
}

.o-025 {
  opacity: .025;
}

.o-0 {
  opacity: 0;
}


/* Width Scale */
.w1 {
  width: 1rem;
}

.w2 {
  width: 2rem;
}

.w3 {
  width: 4rem;
}

.w4 {
  width: 8rem;
}

.w5 {
  width: 16rem;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w-34 {
  width: 34%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

.w-third {
  width: 33.33333%;
}

.w-two-thirds {
  width: 66.66667%;
}

.w-auto {
  width: auto;
}

.br-03 {
  border-radius: 3px;
}

.br-05 {
  border-radius: 5px;
}


.br-10 {
  border-radius: 10px;
}

.br-11 {
  border-radius: 11px;
}

.br-12 {
  border-radius: 12px;
}

.br-15 {
  border-radius: 15px;
}

.br-20 {
  border-radius: 20px;
}

.hover-opacity-80 {
  &:hover {
    opacity: .8;
  }
}